.container1{
    padding-top: 20px;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
    background-image: url(backimg1.jfif);
    padding-left: 30px;
    color: white;
}


label {
    font: 15px 'Exo 2', sans-serif;
}
 

input[type="checkbox"]  {
    border: 1px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 20px/1em sans-serif;
    height: 20px;
    margin-right:10px;
    padding: 0;
    vertical-align: middle;
    width: 20px;
  }
  #resulttext
  {
      font-weight: bold;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: larger;
      /* color: #ee318f; */
  }
